In [42]:
import os
import pymysql
import pandas as pd

conn = pymysql.connect(
    host="localhost",
    user="root",
    passwd="root",
    db="THESAURUSDB")

In [43]:
df = pd.read_sql_query(
    "SELECT COUNT(*) FROM TREVISION",
    conn)
df.head(1)
# Nombre d'éditions de thésaurus en français sur fr.wikt

   COUNT(*)
0      8801

In [44]:
df = pd.read_sql_query(
    "SELECT COUNT(*) FROM TUSER",
    conn)
df.head(1)
# Nombre d'édit.eur.rice.s de thésaurus en français sur fr.wikt

   COUNT(*)
0       579

In [45]:
df = pd.read_sql_query(
    "SELECT COUNT(*) FROM TTHESAURUS",
    conn)
df.head(1)
# Nombre de thésaurus de thésaurus en français sur fr.wikt

   COUNT(*)
0       417

In [46]:
df = pd.read_sql_query(
    "SELECT TUSER.userName,COUNT(*) AS NB FROM TREVISION, TUSER WHERE TUSER.id=TREVISION.idUser GROUP BY idUser Order by NB DESC",
    conn)

In [47]:
df['NB'].median()
# Médiane des éditions par utilisat.eur.rice ayant édité au moins une fois un thésaurus en français sur fr.wiktionary
# Beaucoup à une édition

1.0

In [48]:
df['NB'].mean()
# Moyenne des éditions = 15

15.20034542314335

In [49]:
df.head(50)
# Top 50

                  userName   NB
0             Stephane8888  943
1                 Jpgibert  734
2                   Oimabe  365
3          Classiccardinal  339
4       ArséniureDeGallium  324
5                      Noé  281
6   Un naturaliste du Midi  248
7                JackPotte  246
8                     Eiku  236
9            Benoît Prieur  229
10                  Lyokoï  224
11          109.212.233.87  177
12           Castorepollux  164
13               Lepticed7  145
14                Lmaltier  144
15                 Otourly  138
16                Markadet  120
17          Béotien lambda  102
18               Automatik   97
19             Romainbehar   97
20                  Hector   96
21                  MIRROR   91
22                Treehill   90
23                 Pamputt   88
24         109.212.175.211   86
25             Psychoslave   78
26                Rapaloux   78
27                    Cbyd   76
28         109.213.236.231   74
29                 Vaulque   73
30                  Pyxido   70
31               Alphabeta   68
32           Supreme assis   68
33              Darkdadaah   66
34          109.213.98.124   63
35                Nonopoly   59
36           79.81.159.166   57
37               Hildepont   57
38                  Pom445   57
39                    Gtaf   52
40                   Unsui   47
41               Urhixidur   45
42              Breugelius   44
43                  Moyogo   43
44                Patatruc   39
45                Michka B   39
46              NicoScribe   38
47         109.213.225.114   37
48              Quentinv57   37
49              Basnormand   34

In [54]:
df.groupby(df.index // 250).sum()['NB'][0]
# Le nombre d'éditions des 250 premiers

8465

In [56]:
df.groupby(df.index // 250).sum()['NB'][0] / 8801 * 100
# Les 255 premiers représentent > 95 % des éditions

96.18225201681628

In [59]:
df.groupby(df.index // 255).median()['NB'][0]
# Médiane du nombre d'éditions par utilisat.eur.rice sur les 255 premiers users

4

In [60]:
df2 = pd.read_sql_query("SELECT TTHESAURUS.name,COUNT(*) AS NB FROM TREVISION, TTHESAURUS WHERE TTHESAURUS.id=TREVISION.idThesaurus GROUP BY idThesaurus Order by NB DESC", conn)
# On s'intéresse ici au nombre d'éditions par thésaurus

In [61]:
df2['NB'].median()
# médiane du nombre d'éditions de chaque thésaurus

7.0

In [62]:
df2['NB'].mean()
# moyenne du nombre d'éditions de chaque thésaurus

21.105515587529975

In [63]:
df2.head(50)
# Top 50 des thésaurus les plus édités

                                       name   NB
0                    Thésaurus:eau/français  512
1             Thésaurus:héraldique/français  489
2                  Thésaurus:chien/français  284
3                  Thésaurus:pénis/français  282
4                  Thésaurus:femme/français  157
5                Thésaurus:musique/français  148
6                Thésaurus:couleur/français  141
7                 Thésaurus:beurre/français  136
8             Thésaurus:champignon/français  129
9       Thésaurus:unités de mesure/français  119
10               Thésaurus:carotte/français  113
11              Thésaurus:punition/français  111
12         Thésaurus:jeu de cartes/français  106
13               Thésaurus:boisson/français   97
14                Thésaurus:soldat/français   96
15                Thésaurus:prison/français   95
16               Thésaurus:bagarre/français   88
17                  Thésaurus:chat/français   88
18                Thésaurus:guerre/français   84
19         Thésaurus:mathématiques/français   82
20            Thésaurus:ordinateur/français   71
21            Thésaurus:automobile/français   71
22                   Thésaurus:ski/français   66
23               Thésaurus:chanvre/français   66
24            Thésaurus:maçonnerie/français   65
25  Thésaurus:paresseux (personne)/français   64
26                Thésaurus:bateau/français   64
27                   Thésaurus:œuf/français   63
28                 Thésaurus:blanc/français   63
29                    Thésaurus:os/français   62
30                  Thésaurus:arme/français   61
31               Thésaurus:maladie/français   61
32          Thésaurus:voie urbaine/français   59
33                Thésaurus:renard/français   56
34               Thésaurus:fromage/français   56
35              Thésaurus:mensonge/français   56
36               Thésaurus:fenêtre/français   56
37            Thésaurus:généalogie/français   55
38                   Thésaurus:thé/français   54
39              Thésaurus:document/français   54
40       Thésaurus:bière (boisson)/français   52
41              Thésaurus:montagne/français   51
42                Thésaurus:blague/français   50
43                  Thésaurus:vélo/français   50
44                Thésaurus:légume/français   49
45      Thésaurus:anatomie humaine/français   48
46                   Thésaurus:vin/français   47
47              Thésaurus:cyclisme/français   47
48         Thésaurus:art funéraire/français   47
49                 Thésaurus:neige/français   46

In [68]:
df2.groupby(df2.index // 250).sum()['NB'][0]

8349

In [69]:
df2.groupby(df2.index // 250).sum()['NB'][0] / 8801 * 100
# 250 thésaurus représentent environ 95 % des éditions

94.86421997500284